@font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-Black.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 900;
  }
  
  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-Bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-ExtraBold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-Light.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }

  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-Medium.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Recursive";
    src: url("../fonts/Recursive-SemiBold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  