body {
    font-family: "Recursive", "Arial", sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    background-color: Cornsilk;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ul {
    list-style: none;
  }
  